<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
  <run>
  <include name="smokeTest"></include>
  </run>
    </groups>
    <classes>
      <class name="test.TestNewOrganizations"/>
      <class name="test.TestCampaign"/>
      <class name="test.TestOrganizationWithEmailId"/>
      <class name="test.TestOrganizationWithoutMember"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
